<!DOCTYPE html>
<html>
<head>
  <title>Edit User</title>
</head>
<body>

  <h1>Edit User</h1>

  <form action="/users/<%= user.id %>?_method=PATCH" method="POST">
    <input 
      type="text" 
      name="username" 
      value="<%= user.username %>" 
      required
    />

    <input 
      type="email" 
      name="email" 
      value="<%= user.email %>" 
      required
    />

    <button>Update</button>
  </form>

  <br>
  <a href="/users">Back</a>

</body>
</html>