<!DOCTYPE html>
<html>
<head>
  <title>Users</title>
</head>
<body>

  <h1>All Users</h1>

  <form action="/users" method="POST">
    <button>Add Random User</button>
  </form>

  <ul>
    <% users.forEach(user => { %>
      <li>
        <strong><%= user.username %></strong> - <%= user.email %>

        <a href="/users/<%= user.id %>/edit">Edit</a>

        <form action="/users/<%= user.id %>?_method=DELETE" method="POST" style="display:inline;">
          <button>Delete</button>
        </form>
      </li>
    <% }) %>
  </ul>

  <br>
  <a href="/">Back to Home</a>

</body>
</html>